
.navbar{
  justify-content: space-between;
}
span{
  padding-right: 1rem;
}
mat-sidenav-container{
  height: 100%;
}
mat-sidenav, mat-sidenav-content{
padding: 0px;
box-sizing: content-box;
}
mat-sidenav{
  background-color: rgb(228, 196, 196);
  width: 230px;
}
/* .mat-expansion-panel-body{
  padding: 0 !important;
} */
::ng-deep .mat-icon-button .mat-button-wrapper>*{
  margin-top: 1em;
  vertical-align: bottom;
}
