<div class="layout">
  <div class="sidebar pull-left" [ngClass]="{'sidebar-max': isShowFullMenu}" *ngIf="true" (mouseenter)="showFullMenu()"
    (mouseleave)="hideFullMenu()">
    <div class="app-logo">
      <div [ngClass]="{small: !isShowFullMenu, full:isShowFullMenu}"></div>
    </div>
    <div class="menu">
      <div class="item-group" [ngClass]="{'link-active':isHomeGroupActive && !isShowFullMenu}">
        <a routerLink="#" [ngClass]="{'link-active':isHomeGroupActive && isShowFullMenu}"
        class="line-height-50"
        >
        <img src="../../../../assets/images/home.svg" alt="Home">
        <label *ngIf="isShowFullMenu" class="group-label">Home</label>

        </a>
      </div>
    </div>

  </div>
</div>
