


  //   .ng-touched .ng-valid{
  //   border-left: 5px solid #42A948;
  // }
  // .form-control .ng-touched .ng-dirty .ng-invalid{
  //   border: 10px solid red;
  //   border-left: 5px solid red;
  // }
  .error{
    color:red;
  }

  //   .ng-dirty .ng-invalid{
  //   border-left: 5px solid red;
  // }
  .ng-valid{
    border-left: 5px solid #42A948;
  }
  // input.ng-dirty.ng-invalid.ng-touched {
  //   border-left: 5px solid red;
  // }
  input.ng-pristine.ng-dirty.invalid.ng-invalid{
    border-left: 5px solid red;
  }
  input.ng-pristine.ng-invalid.ng-touched{
    border-left: 5px solid red;
  }
  input.ng-touched.ng-dirty.invalid.ng-invalid{
    border-left: 5px solid red;
  }




