/* You can add global styles to this file, and also import other style files */
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/css/font-awesome.css";
.display-inline{
  display: inline;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
//scrollbar start here
::-webkit-scrollbar{
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar:hover{
  height: 8px;
  width: 8px;
}
 ::-webkit-scrollbar-track{
background: white;
}
 ::-webkit-scrollbar-thumb{
background: linear-gradient(270deg, #313131, #1d1d1d);
border-radius: 50px;
}
 ::-webkit-scrollbar-thumb:hover{
background: black;
width: 8px;
}
.ems-button-setting{
  position: fixed !important;
  right: 4%;
  bottom: 1%;
}



