/* You can add global styles to this file, and also import other style files */

.display-inline{
  display: inline;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// mat-form-field {
//     width: 100%;
//   }
//   mat-icon{
//     color: #007bff;
//   }
//   h3,h2,h1{
//     color: blue;
//   }
//   a{
//     color: white;
//   }
//   a:hover{
//     color: white;
//     background:darkblue;
//     text-decoration: none;
//   }
